.modal-overlay {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 100000; /* Ensures it stays above other elements */
  background-color: #1f2937; /* Adjust color if needed */
  width: 100%; /* Ensure it takes the full width */
}
